<div class="container" style="background-color: #F4F4F5">
  <div class="row">
    <!--Entetes-->
  <div class="col-10">
      <nav class="container">
        <ul style="border-bottom: 2px solid #16162D;">
          <li class="tab-h"  (click)="onClickTab(language)" *ngFor="let language of languages" [ngStyle]="{'background-color': currentLanguageCode === language.code ? language.color : '#F4F4F5'}">
              <span class="staff-msg">
                <a [ngStyle]="{'color': currentLanguageCode === language.code? '#FFFFFF': '#16152D'}">
                  {{language.title}}
                </a>
              </span>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col">
      <button [ngStyle]="{'background-color' :  eventColor }"  type="button" class="btn btn-primary datnek-modal-button disabled" style="margin: 15px;" >{{eventTitle}}</button>
    </div>
</div>
  <div class="row" style="margin-top: 25px">
    <app-language class="col-12" [selectedLanguage] = "selectedLanguage"
                  (newLanguageEvent) = "onNewLanguageEvent($event)"
                  [languages] = "languageList"
                  [levels] = "languageInfos.levels"
                  [languageTypes]= "languageInfos.languageTypes"
    >

    </app-language>
  </div>
  <div class="row" style="margin-top: 25px">
    <app-languages-list class="container"
                        (refreshEvent)="onRefreshEvent($event)"
                        [currentLanguageCode] = "currentLanguageCode"
                        [languages] = "languageList"
    ></app-languages-list>
  </div>
</div>



